.record-container {
}

.record-box {
  left: 50%;
  top: 50%;
  z-index: 40;
  width: 60%;
  height: 60%;
  max-width: 600px;
  min-width: 350px;
  max-height: 400px;
  min-height: 350px;
  padding: 50px 0;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: var(--base-black-op-5);
}

.record-box > div {
  padding:0 50px;
}

.record-box .info {
  margin: var(--base-pd-md) 0;
}

.record-box .immerse-item {
  margin: 5px 0;
}

.record-box .tips-box {
  bottom: 0;
  position: absolute;
}

.record-type-item .title {
  font-size: 24px;
  margin-bottom: calc(var(--base-pd-md) / 2);
}

.record-type-item .sub-title{
  margin-bottom: calc(var(--base-pd-md) / 2);
}

.record-type-item {
  margin-bottom: calc(var(--base-pd-md) * 2);
}

.record-type-item:last-child {
  margin-bottom: 0;
}

.record-type-item .content {
  padding: calc(var(--base-pd-md) / 2) 0;
}

.record-type-item .title + .content {
  padding-top: 0;
}

.modal {
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.v-enter-active,
.v-leave-active {
  transition: all 0.3s ease;
}

.v-leave-to,
.v-enter-from {
  opacity: 0;
  background-color: transparent;
}
